
<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img class="main-logo" src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
        <form action="" class="buscar">
            <input type="text" name="buscar" id="buscar" placeholder="Buscar productos y marcas">
            <i class="fas fa-search"></i>
        </form>

        <br>

        <p class="compra">

            <i class="fas fa-hand-holding-usd">
            </i> Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>
    <div class="main-nav-bar">
        <nav class="nav1">
            <ul type="none">
                <li><a>Ofertas</a></li>
                <li><a>Tiendas Oficiales</a></li>
                <li><a>Vender</a></li>
                <li><a>Ayuda</a></li>
            </ul>

        </nav>

        <nav class="nav1">
            <ul type="none">
                <li><a href="/register/">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login/">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>

</header>