<!DOCTYPE html>
<html>


    <%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>

    <img class="banner" src="/images/img-home-banner.jpg" alt="Banner de ofertas">

    <main>
        <h3 class="titulares">Basado en tu última visita</h3>
        <section class="ultima-visita">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="descrip">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precios">$6.770</p>
                        <p class="desc">40% off</p>
                    </div>
                    <h4 class="desc-art" id="descripcionArticulo">Cafetera Moulinex</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                <div class="descrip">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precios">$230.000</p>
                        <p class="desc"> 20% off</p>
                    </div>
                    <h4 class="desc-art" id="descripcionArticulo">MacBook Pro 2019</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="descrip">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precios">$70.500</p>
                        <p class="desc">10% off</p>
                    </div>
                    <h4 class="desc-art" id="descripcionArticulo">Teléfono Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                <div class="descrip">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precios">$23.200</p>
                        <p class="desc">5% off</p>
                    </div>
                    <h4 class="desc-art" id="descripcionArticulo">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>

        <h3 class="titulares">Ofertas</h3>
        <section class="ofertas">

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="descrip">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precios">$6.770</p>
                        <p class="desc">40% off</p>
                    </div>
                    <h4 class="desc-art">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                <div class="descrip">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precios">$230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <h4 class="desc-art">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="descrip">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precios">$70.500</p>
                        <p class="desc">10% off</p>
                    </div>
                    <h4 class="desc-art" id="descripcionArticulo">Teléfono Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                <div class="descrip">
                    <i class="fas fa-truck"></i>
                    <div class="precio-descuento">
                        <p class="precios">$23.200</p>
                        <p class="desc">5% off</p>
                    </div>
                    <h4 class="desc-art">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>

    <%- include('partials/footer') %>
  
</body>

</html>