<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>

    <form action="" method="POST">
        <div class="controlFormulario">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
        </div>
        <div class="controlFormulario">
            <input type="password" name="contrasena" placeholder="Contraseña">
        </div>
        <div class="controlFormulario" id="botFor">
            <button type="submit">Enviar</button>
        </div>

    </form>

    <%- include('partials/footer') %>

</body>
</html>